<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah student</title>
</head>
<body>
    <h1>Form Tambah student</h1>
    <form th:action="@{/students}" th:object="${student}" method="post">
        <label>Username:</label>
        <input type="text" th:field="*{user.username}" /><br/>

        <label>Password:</label>
        <input type="password" th:field="*{user.password}" /><br/>

        <label>Email:</label>
        <input type="email" th:field="*{user.email}" /><br/>

        <label >NISN</label>
        <input type="text" th:field="*{studentNumber}"/><br/>

         <label >No Hp</label>
        <input type="text" th:field="*{phoneNumber}"/><br/>

        <button type="submit">Simpan</button>
    </form>
</body>
</html>
