<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Tambah School Supervisor</title>
</head>
<body>
  <h1>Tambah School Supervisor</h1>

  <form th:action="@{/sch-spv}" th:object="${sspv}" method="post">
    <fieldset>
      <legend>Akunnya (User)</legend>
      <label>Username:</label>
      <input type="text" th:field="*{user.username}" required /><br/>

      <label>Email:</label>
      <input type="email" th:field="*{user.email}" required /><br/>

      <label>Password:</label>
      <input type="password" th:field="*{user.password}" required /><br/>
    </fieldset>

    <fieldset>
      <legend>Info Sekolah</legend>
      <label>Employee ID Number:</label>
      <input type="text" th:field="*{employeeIdNumber}" /><br/>

      <label>Phone Number:</label>
      <input type="text" th:field="*{phoneNumber}" /><br/>
    </fieldset>

    <br/>
    <button type="submit">Simpan</button>
    <a th:href="@{/sch-spv}">Batal</a>
  </form>
</body>
</html>
